
.rss-reader {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: fit-content;
}

.controls-container {
  margin: 20px auto;
  width: 80%;
  text-align: right;
}

.control {
  border:  1px solid #dedede;
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
  margin: 5px 0px;
  padding: 0px 5px;
  display: inline-block;
  outline: none;
  height: 40px;
}

input.control {
  width: 30%;
}

button.control {
  width: 10%;
  cursor: pointer;
  color: dodgerblue;
}

select.control {
  width: 40%;
}

.list {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 8px 48px;
  width: 80%;
  margin: 5px auto;
}

.list-item {
  height: fit-content;
  max-height: 70px;
  border-bottom: 1px solid #ccc;
  padding: 8px 0px;
}

.list-item:nth-child(odd) {
  background-color: rgb(222, 184, 135, .1);
}

.list-item span {
  display: inline;
  padding: 0px 4px;
}

.list-item .title {
  display: block;
}

.list-item .description {
  color: #888;
  margin-right: 5px;
  font-size: 14px;
}

/* Reader */
.reader{
  position: absolute;
  width: 100%;
  height: max-content;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 245, 245, .3);
}

.reader .wrapper{
  width: 80%;
  height: 600px;
  border: 1px solid #999aaa;
  border-radius: 4px;
  margin: 150px auto;
}

.reader .content {
  width: 100%;
  height: 600px;
  display: block;
}

/* Pagination */
.pagination {
  width: 100%;
  margin: 10px 0px;
  /* border: 1px solid #cecece; */
  text-align: right;
}

.pagination button {
  border-left: 1px solid #999aaa;
}

.pagination button.current {
  background-color: #e4e4e4;
}
