* {
  box-sizing: border-box;
  font-family: Tahoma;
  font-size: 15px;
  text-shadow: 1px 0px 1px #CCCCCC;
}

body {
  background-color: rgba(219, 193, 172, .2);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
